@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
}

section {
    height: 200vh;
    background: url(./assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.sec2 {
    height: 100vh;
    background: url(./assets/backgound2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.text {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text h2 {
    color: #fff;
    font-size: 3em;
}